:root {
    --primary-color: #f0f0f0;
    --secondary-color: #8abec7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    letter-spacing: 0.3px;
}
body {
    padding: 10px;
    max-width: 1280px;
    margin: auto;
}

form#transacao-form {
    display: flex;

    align-items: center;
    gap: 12px;
    
    background-color: var(--primary-color);
    
    min-width: 100%;
    padding: 17px;
    
    
    border-radius: 7px;
    box-shadow: 0 1px 7px 0 #ccc;

    margin-bottom: 12px;
}
input, select, button {
    height: 30px;
}

input[type='text'] {
    flex-grow: 15;
    padding-left: 5px;
}

input[type='date']  {
   flex-grow: 2;
   text-align: center;
}

input[type='number'], input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, button  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    outline: none;
}

.value-row {
    display: flex;
    gap: 5px;
    padding: 0 7px;
    
    align-items: center;
    justify-content: start;

    background-color: white;

    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #767676;
}

.value-row:hover,
.value-row:focus-within {
    box-shadow: inset 0 0 0 2px #545454;
}

input[type='number'] {
    max-width: 100px;
}
label {
    min-width: 10%;
}

button {
    flex-grow: 2;
    background-color: #4b6043;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);   
}

#tipo {
    flex-grow: 1;
    padding-left: 5px;
}

#categoria {
    flex-grow: 3;
    padding-left: 5px;
}

section.tabela {
    max-width: 1280px;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 0 12px 12px 12px;
    box-shadow: 0 1px 7px 0 #ccc;
}

.t-head {
    margin-bottom: 10px;
    margin-left: -12px;
    margin-right: -12px;

    position: sticky;
    top: 0;
}

.t-body, t-head {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.t-body > .t-row, .t-head > .t-row {
    display: flex;
    padding: 12px 10px;
    background-color: #fff;
    border-radius: 7px;

    justify-content: space-between;
}

.t-head > .t-row {
    background-color: var(--secondary-color);
    border-radius: 7px 7px 0 0;
    
    font-weight: bold;
    padding: 14px 20px;
}

.t-row > div:nth-child(1) {
    width: 5%;
    text-align: center;
}

.t-row > div:nth-child(2) {
    width: 50%;
}

.t-row > div:nth-child(3) {
    width: 10%;
}

.t-row > div:nth-child(4) {
    width: 10%;
    text-align: center;
}

.t-row > div:nth-child(5) {
    width: 10%;
    text-align: center;
}

.t-row:has(.OUT)  {
    border-bottom: 2px solid #ffc863;
    /*box-shadow: inset 0 3px 4px 0px #ffc863;*/
}

.t-row:has(.IN) {
    border-bottom: 2px solid #8ae9e9;
    /*box-shadow: inset 0 3px 4px 0px #8ae9e9;*/
}